{% extends 'cms/news/../base.html' %}

{% block title %}
添加讲师|CMS后台管理系统
{% endblock %}
{% block content-header %}
<h1>添加讲师</h1>
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/qiniu-js@2.4.0/dist/qiniu.min.js"></script>
    <script src="{% static 'ueditor/ueditor.config.js' %}"></script>
    <script src="{% static 'ueditor/ueditor.all.min.js' %}"></script>
    <script src="{% static 'js/add_teacher.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form action="" role="form" method="get">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">姓名</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入标题" name="name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">职务</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入作者" name="jobtitle">
                        </div>
                        <div class="form-group">
                            <label for="thumbnail-form">头像</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="thumbnail-form" placeholder="" name="avatar" readonly>
                                <span class="input-group-btn">
                                    <label class="btn-default btn btn-file">
                                        上传图片<input type="file" class="btn btn-default" id="thumbnail-btn">

                                    </label>
                                </span>
                            </div>

                        </div>

                        <div class="form-group" id="progress-group" style="display: none;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                                0%
                                </div>
</div>
                        </div>

                        <div class="form-group">
                            <label for="content-form">简介</label>
                            <script id="editor" type="text/plain"></script>
                        </div>





                    </div>
                    <div class="box-footer">
                        <button id="sub-btn" class="btn btn-primary pull-right">发布新闻</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}