{% extends 'cms/news/../base.html' %}

{% block title %}
新增分类|CMS后台管理系统
{% endblock %}
{% block content-header %}
新增分类
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-12">
            {% if errors %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Warning!</strong>{{ errors }}
                </div>
            {% endif %}
            <div class="box box-primary">
                <form action="{% url 'cms:new_category' %}" role="form" method="get">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">分类名称</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入分类名称" name="name">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary pull-right">新增分类</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}