{% extends 'base/front_base.html'%}
{% load news_filters %}

{% block title %}
    首页
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/news/index.min.css' %}">
{% endblock %}
{% block js %}
    <script src="{% static 'arttemplate/template-web.js' %}"></script>
    <script src="{% static 'js/index.min.js' %}"></script>
    <script id="news-item" type="text/html">
    {% verbatim %}
    {{ each newses news index }}
        <li>
        <!--缩略图-->
            <div class="thumbnail-group"><a href="/news/detail/{{ news.id }}" target="_blank"><img src="{{ news.thumbnail }}" alt=""></a></div>
            <div class="news-group">
                <p class="title"><a href="/news/detail/{{ news.id }}" target="_blank">{{ news.title }}</a></p>
                <p class="desc">{{ news.desc }}</p>
                <p class="more">
                    <span class="category">{{ news.category.name }}</span>
                    <span class="pub-time">{{ news.put_time|timeSince}}</span>
                    <span class="author">{{ news.username }}</span>
                </p>
            </div>
        </li>
    {{ /each }}
    {% endverbatim %}
    </script>>
{% endblock %}

{% block main %}

    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">

                <!--轮播图-->
                <!--最外边的盒子-->
                <div class="banner-group" id="banner-group">

                    <!--存放banner图的盒子-->
                    <ul class="banner-ul" id="banner-ul">
                        {% for banner in banners %}
                        <li><a href="{{ banner.link_to }}"><img src="{{ banner.image_url }}" alt=""></a></li>
                        {% endfor %}
                    </ul>

                    <!--存放banner图的箭头-->
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>

                    <!--banner下的小原点-->
                    <div class="page-control-group">
                        <ul class="page-control">
                        </ul>
                    </div>
                </div>

                <!--新闻列表-->
                <div class="list-outer-group">
                    <!--新闻table-->
                    <ul class="list-tab">
                        <li data-category="0"><a href="script:void(0)">最新资讯</a></li>
                        {% for category in categories %}
                            <li data-category="{{ category.pk }}"><a href="script:void(0)" >{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>

                    <!--新闻列表-->
                    <ul class="list-inner-group">
                        {% for news in newses %}
                        <li>
                        <!--缩略图-->
                            <div class="thumbnail-group"><a href="{% url 'news:news_detail' news.id  %}" target="_blank"><img src="{{ news.thumbnail }}" alt=""></a></div>
                            <div class="news-group">
                                <p class="title"><a href="{% url 'news:news_detail' news.id  %}" target="_blank">{{ news.title }}</a></p>
                                <p class="desc">{{ news.desc }}</p>
                                <p class="more">
                                    <span class="category">{{ news.category.name }}</span>
                                    <span class="pub-time">{{ news.put_time|time_since }}</span>
                                    <span class="author">{{ news.author }}</span>
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                    <!--加载更多按钮-->
                    <div class="load-more-group">
                        <button class="load-more" id="load-more-btn">加载更多</button>
                    </div>




                </div>

            </div>

            <div class="sidebar-wrapper">
                <!--广告位-->
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a href="#">更多</a>
                </div>
                <!--广告图片-->
                <div class="advertise-group">
                    <a href="#">
                        <img src="http://www.xfz.cn/static/build/images/side-gift-banner.png" alt="">
</a>
                </div>

                <!--关注我-->
                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">关注我</span>
                    </div>

                    <div class="focus-group">

                        <ul class="left-group">
                            <li class="zhihu">
                               <a href="#" target="_blank">小饭桌创业课堂</a>
                           </li>
                            <li class="weibo">
                               <a href="#" target="_blank">小饭桌创业课堂</a>
                           </li>
                            <li class="toutiao">
                               <a href="#" target="_blank">知了课堂</a>
                           </li>
                        </ul>

                        <div class="right-group">
                            <p class="desc">扫码关注小饭桌微信公众平台xfz008</p>
                        </div>
                    </div>
                </div>

                <!--热门文章-->
                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                    </div>

                    <ul class="hot-list-group">
                        <li>
                            <div class="left-group">
                                <p class="titl"><a href="#">王健林卖掉进军海外首个项目:17亿售伦敦ON...</a></p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#"><img src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="left-group">
                                <p class="titl"><a href="#">王健林卖掉进军海外首个项目:17亿售伦敦ON...</a></p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#"><img src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt=""></a>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>

        </div>
    </div>
{% endblock %}