<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试的网址</title>
    <link rel="stylesheet" href="../../dist/css/news/test.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_974184_tatw51zmy8m.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/test.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="log-box">
                <a href="#"></a>
            </div>



            <ul class="nav">
            <li class="active"><a href="#">创业资讯</a></li>
            <li><a href="#">创业课堂</a></li>
            <li><a href="#">付费资讯</a></li>
            <li><a href="#">搜索</a></li>
        </ul>


            <div class="auth-box">
                <i class="icon-person1 iconfont"></i>
                <a href="#">登录</a> / <a href="#">注册</a>
            </div>

        </div>
    </header>

    <div class="main">
        <div class="wrapper">

            <div class="news-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li><a href="#"><img src="https://static-image.xfz.cn/1523588994_243.jpg" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1523504442_455.png" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1521444982_469.jpg" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1522742329_629.png" alt=""></a></li>
                        <li><a href="#"><img src="https://static-image.xfz.cn/1522742329_629.png" alt=""></a></li>
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>

                    <div class="page-control-group">
                        <ul class="page-control"></ul>
                    </div>
                </div>


                <div class="list-outer-group">
                    <ul class="list-tab">
                        <li class="active"><a href="#">最新资讯</a></li>
                        <li><a href="#">热点</a></li>
                        <li><a href="#">深度报道</a></li>
                        <li><a href="#">干活分享</a></li>
                        <li><a href="#">投资人说</a></li>
                    </ul>

                    <ul class="list-inner-group">
                        <li>
                            <!--缩略图-->
                            <div class="thumbnail-group"><a href="#"><img src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt=""></a></div>
                            <div class="news-group">
                                <p class="title"><a href="#">王健林卖掉进军海外首个项目:17亿售伦敦ONE六成股权</a></p>
                                <p class="desc">外界关于万达要出售此前在海外投资项目的消息一直不断。</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">知了课堂</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <!--缩略图-->
                            <div class="thumbnail-group"><a href="#"><img src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt=""></a></div>
                            <div class="news-group">
                                <p class="title"><a href="#">王健林卖掉进军海外首个项目:17亿售伦敦ONE六成股权</a></p>
                                <p class="desc">外界关于万达要出售此前在海外投资项目的消息一直不断。</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">知了课堂</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="load-more-group">
                        <button class="load-more">加载更多</button>
                    </div>
                </div>





            </div>






            <div class="sidebar-wrapper"></div>


        </div>

    </div>


</body>
</html>