@import "../../common/constant";
@import "../../common/init";



.mask-wrapper{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  overflow: scroll;
  z-index: 3;


  .auth-wrapper{
    $authWrapperHeight: 520px;
    $authWrapperWidth: 400px;

    width: $authWrapperWidth;
    height: $authWrapperHeight;
    //background: #ffffff;
    margin: 40px auto;


    .close-wrapper{
      height: 40px;
      width: 100%;
      background: #ffffff;
      text-align: right;
      box-sizing: border-box;

      .iconfont{
        height: 40px;
        line-height: 40px;
        margin-right: 20px;
        cursor: pointer;

      }
    }

    .auth-inner-wrapper{
      width: 100%;
      height: $authWrapperHeight - 40px;
      position: relative;
      overflow: hidden;


      .scroll-wrapper{
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;


        .auth-group{
          width: $authWrapperWidth;
          height: 100%;
          float: left;
          padding: 20px;
          box-sizing: border-box;
          overflow: hidden;
          background: #ffffff;

          .top-group{
            width: 100%;
            height: 36px;
            border-bottom: 1px solid $lineColor;
            line-height: 36px;
            box-sizing: border-box;


            .title{
              color: #212121;
              float: left;
              border-bottom: 3px solid $themeColor;
            }
            
            a{
              color: $themeColor;
              float: right;
            }
          }

          .form-group{
            margin-top: 20px;
            width: 100%;
            


            .input-group{
              margin-bottom: 15px;
              width: 100%;
              box-sizing: border-box;



              .form-control{
                width: 100%;
                height: 40px;
                outline: none;
                padding: 10px;

                box-sizing: border-box;
              }


              .submit-btn{
                display: block;

                width: 100%;
                height: 40px;
                background: $themeColor;
                color: #ffffff;
                outline: none;
              }
            }
          }
        }

        .signin-group{
          .form-group{
            .input-group{
              .remember-label{
                font-size: 14px;

              }
            }
          }
        }


        .signup-group{

          .form-group{
            .input-group{
              overflow: hidden;
              .short-input-group{
                width: 250px;
                float: left;
              }

              .input-group-addon{
                float: right;
                width: 100px;
                height: 40px;
                box-sizing: border-box;


                img{
                  width: 100%;
                  right: 100%;
                }
                &:hover {
                  cursor: pointer;
                }


                .sms-captcha-btn{
                  width: 100%;
                  height: 40px;
                  border: 1px solid $themeColor;
                  color: $themeColor;
                  display: inline-block;
                  text-align: center;
                  line-height: 40px;
                  box-sizing: border-box;
                  cursor: pointer;



                }

                .disabled{
                  color: #cccccc;
                  border-color: #cccccc;
                }

              }

            }
          }
        }
      }

    }



  }

}